[2014-10-23 13:22] olegokunevych opened #1 "RSpec connection configuration"
Hello, I've installed Vagrant VM with Aerospike server on it, started it, however 3000 port have been already used and it have been forwarded to another port `==> default: Fixed port collision for 3000 => 3000. Now on port 2200.`.
It would be nice to replace hardcoded host and port values into utils helper methods.
Also I saw simplecov gem in Gemfile, why not to use it in spec_helper?

[2014-10-25 14:09] #1 closed, assigned to nobody

[2014-11-26 06:44] letronje opened #7 "Ruby 1.8.7 support ?"
How hard would it be to get this working under ruby 1.8.7 / ree ?

[2014-12-05 05:03] letronje opened #9 "Query operations ?"
The official clients for python, php, etc have query support. Hope the ruby driver gets some love too :)

[2015-01-26 19:06] #9 closed

[2015-01-28 15:41] rvmiller opened #11 "Aerospike 1.0: bcrypt missing from gem dependencies"
Installing atomic 1.1.99 (was 1.1.16)
Installing msgpack 0.5.10 (was 0.5.9)
Installing aerospike 1.0.0 (was 0.1.6)
...
Your bundle is complete!
Use `bundle show [gemname]` to see where a bundled gem is installed.
Post-install message from atomic:
This gem has been deprecated and merged into Concurrent Ruby (http://concurrent-ruby.com).
Post-install message from aerospike:
Thank you for using Aeros

[2015-01-28 16:03] khaf commented on #11
Argh, that's embarrassing.

Thanks for letting me know, gem is updated.

Don't hesitate to let me know about your experience with the library.

[2015-01-28 16:16] rvmiller commented on #11
Hey no worries, glad to help!  Otherwise, this gem has been excellent! I love the interaction pattern, very intuitive, and reliable. We use it in our test acceptance test libraries, as well as some internal monitoring apps we have.

If I have any specific feedback or requests, I'll make sure to let you know. Thanks again for the quick turnaround!

[2015-03-01 21:17] mindreframer opened #12 "Aggregations support"
any particular reason, why aggregations are not supported??

http://www.aerospike.com/docs/architecture/clients.html

Would love to see it soon in the gem!

[2015-03-02 12:23] khaf commented on #12
It is in the works and will be added to the client soon.

[2015-03-02 15:05] mindreframer commented on #12
Really looking forward to it!

[2015-03-23 20:55] prepor opened #14 "100% CPU and infinity loop when we can't connect to one of nodes"
Hello!

Ruby Aerospike Client does nonblock connect but doesn't wait for completion. And doesn't check connection status later.

So, after https://github.com/aerospike/aerospike-client-ruby/blob/master/lib/aerospike/cluster/node_validator.rb#L65 it goes into infinity loop in https://github.com/aerospike/aerospike-client-ruby/blob/master/lib/aerospike/cluster/connection.rb#L55. And our production i

[2015-03-24 18:33] khaf commented on #14
Fixed and Released. Thanks for your report and PR.

[2015-03-24 18:33] #14 closed

[2015-03-31 16:34] nihtalak commented on #12
:+1:

[2015-04-01 10:03] VILATTI commented on #12
+1

[2015-04-01 10:03] voleoo commented on #12
:+1:

[2015-04-01 10:04] Elochai commented on #12
+ 1

[2015-04-01 10:04] mic-2000 commented on #12
+1

[2015-04-01 10:04] Kesidi commented on #12
+1

[2015-04-01 10:11] mari-bond commented on #12
+1

[2015-04-01 10:14] Chubchenko commented on #12
+1

[2015-04-01 10:14] Eversilence commented on #12
+1

[2015-04-01 10:16] khaf commented on #12
Wow, look at the demand!

Moved to the top of the priority list.

Is anyone blocked on this?

[2015-04-01 10:19] babakhanov1 commented on #12
+1

[2015-04-01 10:19] Eversilence commented on #12
Thanks! Looking forward for this feature

[2015-04-01 10:25] RomanMukhin commented on #12
+1

[2015-04-01 15:28] bbulkow commented on #12
Hi Folks ---
I'm the product guy here at Aerospike, and we're trying to figure out where the demand for our Ruby client is. Downloads / clones / whatever are far lower than other languages.

Can you tell us what you're using Ruby and Aerospike for?

--- just answer here
--- send me a private note on github
--- send me an email brian@aerospike.com

Helping us understand who uses ruby helps us prior

[2015-04-01 16:43] ktaras commented on #12
Hi Brian!
I'm also waiting for this feature because my team and I would like to use it in our high-load Rails app. We've carried out some experiments with it and we were absolutely satisfied, but without this feature we can't use it for our purposes.

[2015-04-01 22:02] mindreframer commented on #12
Hello Brian,

we have some analytical requirements and having aggregations support is absolute must here.

[2015-04-02 02:44] bbulkow commented on #12
Cool, thanks for the info, and I'm having some private discussions too. It sounds like you're mostly using aerospike for key-value and need a few aggregations.

Here's the technical problem: we map-reduce on the servers in a parallel fashion, partially reduce on the servers, then do a final reduce stage on the client. Cool, but our map-reduce language is Lua.

We need Lua running inside Ruby.

Sin

[2015-04-02 08:33] mindreframer commented on #12
The most up-to-date and  maintained LUA bridge is this gem:

https://github.com/jmettraux/rufus-lua

Alternatives:
- https://github.com/whitequark/rlua
- https://github.com/glejeune/ruby-lua

I have little experience working with C bindings /FFI Interface, but if you explain the problem in detail, I could spike a proof of concept (maybe with 2 competing approaches, C vs. FFI), what do you think?

[2015-04-02 13:02] #11 closed

[2015-04-02 13:04] khaf commented on #7
Hi @letronje, are you still using the Ruby-Client on 1.8.7?

We can merge if you have a working, test-passing branch :)

[2015-04-02 18:47] letronje commented on #7
Nope, checking out couchbase right now.

On Thu, Apr 2, 2015, 6:34 PM Khosrow Afroozeh <notifications@github.com>
wrote:

[2015-04-02 19:58] #7 closed

[2015-04-27 12:05] ook opened #17 "ResultCode 21"
I met this exception:

    /home/ook/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/aerospike-1.0.1/lib/aerospike/command/write_command.rb:52:in `parse_result': ResultCode 21 unknown in the client. Please file a github issue. (Aerospike::Exceptions::Aerospike)
        from /home/ook/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/aerospike-1.0.1/lib/aerospike/command/command.rb:458:in `execute'

[2015-04-27 15:16] rbotzer commented on #17
Status code 21 is [AEROSPIKE_ERR_BIN_NAME](http://www.aerospike.com/apidocs/c/dc/d42/as__status_8h_source.html), which means you've been trying to write a bin with a name longer than 14 characters. See the [FAQ](http://www.aerospike.com/docs/guide/FAQ.html#definitions).

[2015-04-28 06:20] ook commented on #17
Thanks for your answer @rbotzer . Maybe I'm missing something, but I try to write a key which bin's name is a formatted date (8 chars YYYYMMDD). Here the key generation and inspect output:

    @key = Aerospike::Key.new(@namespace, 'teleinfo', Time.now.strftime('%Y%m%d'))
    => #<Aerospike::Key:0xb7ec7150 @namespace="sweethome", @set_name="teleinfo", @user_key=#<Aerospike::StringValue:0xb7ec70f0

[2015-04-28 06:22] ook commented on #17
Oh!

    186      *  Sent too-long bin name (should be impossible in this client) or exceeded
    187      *  namespace's bin name quota.

The name quota part seems far more interesting, since I wasn't deleting bin's keys. Not impossible I hit the 32K bins limit. Will train my as-cli -foo to check it.

[2015-04-28 12:17] ook commented on #17
Annoying to have to cold restart the server to reclaim some bin's names…
So, I convert this entry to explicit the Error 21 :) (PR incoming)

[2015-04-28 16:05] mindreframer commented on #12
it seems that this issue is stalled.... any new info on this?

[2015-04-29 03:31] rbotzer commented on #17
Ah, you were generating bins on the fly based on datetime. Yes, the 32K bin limit is quite real, and reclaiming bin names is an active topic internally.

For now you should probably use a 'day' bin and have a map of values in it YYYYMMDD => value.

[2015-05-15 03:50] JokerCatz opened #18 "random key fail : ResultCode 20 unknown in the client"
just code

    require 'aerospike'
    include Aerospike
    client = Client.new("127.0.0.1", 3000)
    t = Time.now.to_f ; 500.times do key = Key.new('tempi', rand.to_s, rand.to_s) ; client.put(key, {'wer' => rand.to_s}) ; client.get(key).bins ; end ; Time.now.to_f - t
    #=> Aerospike::Exceptions::Aerospike: ResultCode 20 unknown in the client. Please file a github issue.

[2015-05-15 06:23] ook commented on #18
ResultCode 20 is "invalid namespace". So "tempi" is not declared into your aerospike client.

Too many basic resultCode are missing in aerospike ruby client…

[2015-05-15 09:02] JokerCatz commented on #18
okay , I change to

    key = Key.new('test', 'test', rand.to_s) ; client.put(key, {'test' => rand.to_s})

it's work and fast :) , but Aerospike::Client & Aerospike::Record are TOO MANY useless details...

    client.inspect.length #=> 10621449
    client.get(key).inspect.length #=> 338291

& I use ruby 2.1.5p273

[2015-05-15 16:21] khaf commented on #17
Fixed and Released.

[2015-05-15 16:21] #17 closed

[2015-05-15 16:25] khaf commented on #18
@JokerCatz Aerospike client is much more than a simple database driver and abstracts out the complexity of working with a distributing system. It keeps references to a lot of internal objects, which are fairly large.

`Aerospike::Record` keeps a *reference* to the node the record was received from, but it seems `.inspect.length` is counting the size of that reference in its result.

[2015-05-15 17:05] JokerCatz commented on #18
did you try the README demo code in irb & ssh ?
irb will puts inspect string ,  it useless & it too long not useful for debug

in Ruby irb will show object.inspect each line exec , for example , if i enter

    irb> client

will be

    irb> puts client.inspect
    #client.inspect = string & string.length = 10621449

you can try to fix it for

    class Aerospike::Record
      def inspect

[2015-05-18 07:25] ook opened #20 "Console and logs polluted by « Tend finished » log"
lib/aerospike/cluster/cluster.rb:241:      Aerospike.logger.info("Tend finished. Live node count: #{nodes.length}")

This line pollute console and logs after a first aerospike command. Spaming so fast a console is useless after the very first as command.

Since it's no use for simple as user, it should be a conditional log, disabled by default.

[2015-05-18 07:28] ook opened #21 "AS Client connection should timeout by default"
AS Client connection appears to have no timeout right now. For unknown reason, I sometimes have connection stall and the AS connection stay stall forever until a SIGTERM. AS Client connection should timeout by default to 10s (since AS goal is to be fast).

[2015-05-18 07:30] khaf commented on #21
All API accept a type of policy, and there you can set timeouts. The default is no timeout.

[2015-05-18 07:34] khaf commented on #20
Why aren't you setting your log level to WARN or ERROR?

Tend is Info level to show you exactly when the cluster was partitioned and a node was dropped.

[2015-05-18 07:47] ook commented on #20
Because I'm debugging :)

As you say, it's cluster/node stuff, not client concerns. In a certain point of view, the client user should just be able to "ignore" he's discussing with an AS node and forget about it.

[2015-05-18 08:06] ook commented on #21
Ok, I buy it. Thanks.

[2015-05-18 08:06] #21 closed

[2015-05-18 08:09] khaf commented on #21
Just to clarify: Timeout (specially for non-blocking connections) has a small but noticeable impact on performance. The default no Timeout is there for people with reliable and high performing networks.

[2015-05-18 08:11] khaf commented on #20
bah, and here I was thinking maybe I should make it a debug log! :)

For the moment the easiest solution is to comment it.

Any suggestions regarding how to improve the situation?

[2015-05-18 11:08] ook commented on #20
Two approaches:

# Create a logger overlay and tag the entries along concern (client/node/etc.) and let user configure this overlay to trash certain tags
# At each logging class level, let configure a guard condition to log or not

[2015-06-05 12:09] dancetrain opened #22 "ResultCode 115 unknown in the client."
[code]

Server
[code]

[2015-06-05 12:31] dancetrain opened #23 "ResultCode 66 unknown in the client."
[code]

Server
[code]

[2015-07-14 10:27] Angelmmiguel opened #25 "Cache queries"
Hello!

We are working with Aerospike on our application and we have the following situation:
* Low rate of writing
* A lot of read queries

I'm developing a cache for queries on our Rails environment (outside the gem), but I need an unique identifier for every query. I think to base identifier on namespace, set, bins and filters.

What do you think about it?

[2015-07-14 10:29] khaf commented on #25
Hi, why do you need statements for a cache?

[2015-07-14 10:30] Angelmmiguel commented on #25
Because I need to identify a query to assign it the result given from Aerospike

[2015-07-14 10:32] khaf commented on #25
Statements are used for queries on Aerospike. A cache normally only needs single key read/writes. Why do you use Queries on Aerospike's side?

[2015-07-14 10:34] Angelmmiguel commented on #25
Because we often return a group of key/values based on some filters

[2015-07-14 10:37] khaf commented on #25
Why not make a new unique key out of those, and put all those results in an array, in the same record.

It will be fast and scalable. You can also put a TTL on the record to invalidate over time.

[2015-07-14 10:48] Angelmmiguel commented on #25
So for example, can I make a key on Aerospike to return key/values of a namespace.set with a column greater than an integer?

But will this invalidate a unique Record? If 50 persons access to the same url that need to perform an Aerospike query each one will instance a new Record

Thanks for your responses!

[2015-07-14 10:53] khaf commented on #25
You put all the results of that query in one record in Aerospike. That's the traditional idea of caching as far as I understand.

It will invalidate it after TTL expires. Can be 24h, can be a week. If the data never expires, or you update it on writes, then no TTL is needed.

[2015-07-14 11:25] Angelmmiguel commented on #25
Ok! I understand you. Thanks for your help :)

[2015-07-14 11:25] #25 closed

[2015-07-14 11:28] khaf commented on #25
No problem. Don't hesitate to reach out again :)

[2015-07-14 11:56] Angelmmiguel commented on #25
Thanks! :smile:

[2015-08-10 07:04] Angelmmiguel commented on #20
What do you think about create a configuration param in initializers to disable this log (enabled by default)?

[2015-08-10 07:05] ook commented on #20
Sound interesting to me ears.

[2015-08-10 07:15] Angelmmiguel commented on #20
For example, I created a Gem and set a [compatibility](https://github.com/Angelmmiguel/material_icons#compatibility) param config in initializer. What do you think @khaf?

[2015-08-10 10:18] khaf commented on #20
I'm not against it. Anybody wants to take a stab at it?

[2015-08-10 10:20] Angelmmiguel commented on #20
ok! I think I have some time this week and I'm working with Aerospike, so I will create a PL

[2015-12-07 18:10] jhecking commented on #20
With 04a23a090eaa48d7f4eddc0ace0712c8564544c8 the tend info message only gets logged if any nodes were added to or removed from the cluster.

[2015-12-07 18:10] #20 closed

[2016-01-07 22:28] naveedf opened #30 "Atomic validation of values and write policies when using operate?"
A couple questions:

1) Is it possible to only write a value only when the current values meets a certain condition? For example, if I have a bin value that represents a decrementing counter, and I only want to be able to decrement the counter if it is greater than 0, how can I accomplish this atomically? Do I have to leverage some type of "check-and-set," or is there a simpler method where I can

[2016-01-07 22:30] khaf commented on #30
1. You can use a UDF. UDF's are executed atomically.
2. It should work. If not, that's probably a bug.

[2016-01-07 22:43] naveedbb commented on #30
Thanks,

re 2: The following will overwrite the count bin when it exists rather than throwing an exception.

        operations = [
            {
                'op' : aerospike.OPERATOR_WRITE,
                'bin' : 'count',
                'val' : 123
            },
            {
                'op' : aerospike.OPERATOR_READ,
                'bin' : 'count'
            }
        ]

        (r

[2016-01-09 09:17] zerebral commented on #9
Can we have an example for the Query operation please?  We tried the following and get "Index Error" - however the same index queries are working okay with the Node client.

[code]

[2016-01-12 08:56] jhecking commented on #9
@zerebral, I have added an example for using Query operations in [examples/query.rb]( https://github.com/aerospike/aerospike-client-ruby/blob/master/examples/query.rb). Your usage looks correct, though. This is a fairly old issue that was closed a long time ago. Can you give us more details about the "Index Error" you get and how you create the secondary index in our [Community Forums](https://dis

[2016-01-14 07:44] zerebral commented on #9
Sure.. Putting this one up on the forum. Thanks.

[2016-01-26 04:15] jhecking commented on #30
@naveedf, the `exists` policy attribute only applies to the write policy used by the `put` command. The operate policy does not support this.

[2016-02-02 11:20] Angelmmiguel opened #32 "Large string in Aerospike"
Hello,

I'm working on an application that needs to store an array of file paths. We are using Aerospike to store this array as JSON string. The problem is the limit of string length that truncates the JSON array string.

To solve this, we think in [Aerospike Large Data Types (LDTs)](http://www.aerospike.com/docs/client/ruby/usage/ldt/ldt.html). Today I update the gem with the last version and sta

[2016-02-03 02:54] jhecking commented on #32
Hi @Angelmmiguel,

Depending on how large the lists are that you need to store, you can use the native [list data type](http://www.aerospike.com/docs/guide/cdt-list.html). [1] The size of the list would only be constrained by the max. record size (up to 1MB for flash backed storage). Would that be sufficient for your use case?

Here is a quick example:

[code]

[1] Please note that the Ruby client

[2016-02-03 02:55] jhecking commented on #30
Closing this. Feel free to open a new issue if there are further questions.

[2016-02-03 02:55] #30 closed

[2016-02-03 03:57] fs-wu opened #33 "when use japanese or chinese in bin value get error: incompatible character encodings: ASCII-8BIT and UTF-8"
When I set japanese in bin value, I got such kind error:
" incompatible character encodings: ASCII-8BIT and UTF-8"
How can I avoid that?

Here my easy code:
[code]

[2016-02-03 07:46] #33 closed

[2016-02-03 08:03] jhecking commented on #33
@fs-wu, thanks for reporting this issue. The Aerospike server stores strings as [binary strings](http://www.aerospike.com/docs/guide/data-types.html), i.e. not bound to any specific encoding. But the Ruby client should assume UTF-8 as the default encoding and convert all string to/from binary encoding automatically.

I have committed a fix to master in 6ef31a86f2663801130fcb74225fca4a09ba6584. I a

[2016-02-03 08:47] fs-wu commented on #33
Thank you,it worked.Wait for your new gem version.

[2016-02-03 12:55] Angelmmiguel commented on #32
Hello @jhecking,

Yes, I think 1MB is enough. We will implement our solution with list data type.

Thanks for your response.

[2016-02-03 13:34] jhecking commented on #32
Great! Thanks for the feedback. Feel free to open another issue if you have further questions or visit our community forums at [discuss.aerospike.com](https://discuss.aerospike.com/c/client-libraries/ruby-client).

[2016-02-03 13:34] #32 closed

[2016-02-11 10:47] jhecking commented on #33
@fs-wu, v1.0.12 of the gem is now available on rubygems.org.

[2016-02-12 04:00] jhecking commented on #18
The original issue about "Aerospike::Exceptions::Aerospike: ResultCode 20 unknown in the client." has been fixed in #19, so closing this.

[2016-02-12 04:00] #18 closed

[2016-05-18 19:47] rohanthewiz opened #35 "In Ruby 2.1+ "value must be enumerable" error when host is 'localhost'"
localhost should resolve without an error (It works once I change to 127.0.0.1)
[code]
The backtrace:

        from /home/ro/.rvm/rubies/ruby-2.3.0/lib/ruby/2.3.0/set.rb:156:in `replace'
        from /home/ro/.rvm/gems/ruby-2.3.0@rubyplay/gems/aerospike-1.0.12/lib/aerospike/cluster/cluster.rb:330:in `block in update_cluster_features'
        from /home/ro/.rvm/gems/ruby-2.3.0@rubyplay/gems/aerospi

[2016-05-19 08:11] #35 closed

[2016-05-27 06:12] jhecking opened #36 "Support reading cluster hosts from AEROSPIKE_HOSTS"
Ruby client should read hostnames/ports of Aerospike cluster nodes from `AEROSPIKE_HOSTS` environment variable using the same format as the Node.js client. (See aerospike/aerospike-client-nodejs#110.)

Example:

    ENV["AEROSPIKE_HOSTS"] = "192.168.0.10:3000,192.168.0.11:3000"
    client = Aerospike::Client.new()

[2016-05-27 07:48] #36 closed

[2016-08-16 01:46] jhecking opened #38 "Incorrect expiration time for batch read records"
The expiration time on records fetched via the `Client#batch_get` method is incorrect:

[code]

Expected: record expiration time stamp and batch record expiration time stamp are the same (or very nearly the same).
Actual: The two time stamps differ by several orders of magnitude.

[2016-08-16 01:49] #38 closed

[2016-08-23 11:08] jhecking commented on #23
This issue can happen when using the Aerospike client in a Rails app running within the Passenger application server. Due to the way Passenger spawns multiple application processes from a "pre-loaded" Rails app instance, multiple copies of the client in different application processes can end up sharing one or more TCP connections to the Aerospike cluster.

Please refer to the ["Invalid size for b

[2016-08-23 11:08] jhecking commented on #22
This issue can happen when using the Aerospike client in a Rails app running within the Passenger application server. Due to the way Passenger spawns multiple application processes from a "pre-loaded" Rails app instance, multiple copies of the client in different application processes can end up sharing one or more TCP connections to the Aerospike cluster.

Please refer to the ["Invalid size for b

[2016-08-24 08:22] #23 closed

[2016-08-24 08:22] #22 closed

[2016-09-19 07:07] jhecking opened #39 "Multiple operations on CDT return the result of the last operation only"
https://discuss.aerospike.com/t/multiple-operations-on-cdt-return-the-result-of-the-last-operation-only/3385:

ops = []
ops << CDT::MapOperation.get_key('map', 'a', return_type: 8) # MapReturnType::KEY_VALUE
ops << CDT::MapOperation.get_key('map', 'b', return_type: 8)
ops << CDT::MapOperation.get_key('map', 'c', return_type: 8)
 result = client.operate(key, ops)

[2016-09-19 07:11] jhecking commented on #39
I'm planning to adopt the behavior of the Aerospike Java client. The result of the operation in the provided example would be `{ 'map' => [ { 'a' => 1 }, { 'b' => 2 }, { 'c' => 3 } ] }`.

/cc @zingoba

[2016-09-19 11:16] #39 closed

[2016-11-08 09:43] werleo opened #41 "Add node failed: wrong number of arguments"
When do you plan to release bug fix for:
```Add node  failed: wrong number of arguments (given 3, expected 4)```
?

It is already fixed in master (2a40787a8b99c7a9607cce1c647dac7cb1ef9d6a) but there is no release with that change.
We are using aerospike-client-ruby as gem dependency so we cannot use latest version from branch.

[2016-11-14 09:30] jhecking commented on #41
I have released v2.2.1 today, which includes this fix.

[2017-01-04 03:47] #41 closed

[2017-01-04 09:27] jhecking opened #42 "Client should support bytes as record keys"
Aerospike supports integers, strings and byte arrays as record keys. However the client fails with a TypeError when trying to construct an `Aerospike::Key` instance from an `Aerospike::BytesValue`:

[code]

[2017-01-04 10:15] jhecking opened #43 "Deprecated unsupported key types"
Aerospike officially supports only integers, strings and bytes as record keys [1]. However the Ruby client currently accepts any data type as record key that is supported as a bin value, i.e. floats and even complex data types such as lists and maps are accepted as record keys.

Support for record keys other than integer, string and bytes should be deprecated in v2.x and removed in v3.0.

[1] http

[2017-01-04 11:22] #42 closed

[2017-01-04 11:22] #43 closed

[2017-01-04 11:25] jhecking commented on #43
The client will `warn` whenever a key of unsupported type is created. Call `Aerospike::Key.disable_unsupported_key_warning!` to suppress the warning.

[2017-03-13 14:56] werleo opened #45 "Digest::Base cannot be directly inherited in Ruby"
We call aerospike in sidekiq workers which requires to have all classes thread safe.

Calling `Aerospike::Key.new(arguments)`

raises `Digest::Base cannot be directly inherited in Ruby`

[code]

From ruby docs we can call Digest classes in thread safe manner:
https://docs.ruby-lang.org/en/2.2.0/Object.html#method-i-Digest

I think it should be done here:
https://github.com/aerospike/aerospike-clie

[2017-03-14 09:01] jhecking commented on #45
Interesting! I found similar issues raised in various other projects, e.g. for the [AWS SDK](https://github.com/aws/aws-sdk-ruby/issues/525) or [Chef](https://github.com/chef/chef/issues/1793). But it's not yet clear to me what the right solution is:

* Replace usage of `Digest` with `OpenSSL::Digest` - Are there any downsides to using `OpenSSL::Digest`? Need to clarify why we are using `Digest` o

[2017-03-14 10:49] werleo commented on #45
List of not thread safe gems from sidekiq wiki:

https://github.com/mperham/sidekiq/wiki/Problems-and-Troubleshooting#not-thread-safe-gems

I don't know details about OpenSSl::Digest so I am not able to help here.

We use ruby 2.3.3.

[2017-04-06 06:05] jhecking opened #46 "Support configurable scan socket write timeout"
Add a socket timeout setting to the client's scan policy. This specifies the maximum time to wait when polling a socket for availability prior to performing an operation on the socket on the server side. Default is 10 seconds.

Ref. CLIENT-873

[2017-04-06 06:07] jhecking opened #47 "Support ns/set truncate command"
Support  new `truncate` info command: http://www.aerospike.com/docs/reference/info#truncate
Requires Aerospike Server version >= 3.12.

Ref. CLIENT-856

[2017-04-06 09:42] #47 closed

[2017-04-06 09:43] #45 closed

[2017-04-06 09:43] #46 closed

[2018-01-25 07:53] jhecking opened #57 "Some secondary index queries fail with parameter error on Aerospike Server v3.15.1.x"
Query operations with secondary index filter and with list of bin names to return, fail on Aerospike Server v3.15.1.x. The server returns a parameter error (status code 4). The same queries work against Aerospike Server 3.15.0.x and earlier.

The error is caused by a duplicate QUERY_BINLIST field in the protocol message. Server versions 3.15.0.x and prior are processing the query despite the dupli

[2018-01-25 08:04] #57 closed

[2018-02-06 06:44] deenbandhu-agarwal opened #58 "batch_get not giving correct result"
Hi

I am using batch_get in the production.
Sometimes batch_get does not give results for some particular keys but at the same time get gives the result for the same keys. I made Sure when this issue occurred there was no migration going on.

[2018-02-06 11:04] jhecking commented on #58
Just to clarify, are you saying that the client always returns no results when you call batch_get for specific keys?

Can you turn on debug logging for the client and check if there are any messages getting logged when you execute the batch_get command?

[2018-02-06 12:29] deenbandhu-agarwal commented on #58
No it is not for any specific keys yes i will turn on the debug logging and let you know

[2018-02-09 03:12] jhecking commented on #58
@deenbandhu-agarwal, did you manage to capture some debug logs?

Another question: When you call `Client#batch_get`, how many entries does the resulting record array contain? As many entries as keys you passed in (but with some entries being `nil`)? Or does the resulting array have less entries than the number of keys?

[2018-02-20 13:16] deenbandhu-agarwal commented on #58
Hi
Sorry for late reply. I was debugging the issue and I found these observations.
1. I am receiving as many entries in result as keys i passed in.
2. The error come for a very small time and on a particular client only(not all the clients that are accessing Aerospike at that time). I logged the node ip(Aerospike node on which request is sent) and key for which the batch_get fails and when I check

[2018-02-21 06:55] jhecking commented on #58
@deenbandhu-agarwal,

It sounds like the client's partition map is not up-to-date. That would cause the client to send the batch requests for some of the keys to the wrong cluster node. And since the Ruby client uses the older [Batch Direct](https://www.aerospike.com/docs/guide/batch.html#batch-direct-legacy-batch-protocol-supported-on-all-server-versions-) protocol, the request will not be proxie

[2018-02-21 07:03] deenbandhu-agarwal commented on #58
@jhecking
No issue occurs on random client and probably the issue is solved by restarting only because after 10-15 minuted our client restart automatically so it is difficult to simulate for us that restart scenario but i think restart will solve the issue

[2018-02-21 07:04] deenbandhu-agarwal commented on #58
@jhecking
I also have a question what could be the reason for outdated partition map if there is no migration ?

[2018-02-21 07:09] deenbandhu-agarwal commented on #58
@jhecking
Why we are not thinking in the direction of implementing [batch index protocol](https://www.aerospike.com/docs/guide/batch.html#batch-index)

[2018-02-21 07:43] jhecking commented on #58
The partition map changes as cluster nodes get added or removed from the cluster. Usually, the client should update the partition map from each cluster node about once a second. If that does not happen, that would be considered a bug. I assume you have already checked the client logs for any error messages?

Yes, that would definitely be a good solution. (Besides fixing any bugs in the partition u

[2018-02-21 07:49] jhecking commented on #58
Also, possibly unrelated, but why are you restarting your clients automatically every 10-15 minutes?

[2018-02-21 09:58] deenbandhu-agarwal commented on #58
This is because of our some internal issue we restart the complete app so client get restarted automatically

Can you tell me where exactly in code where map get updated and how it get updated probably i can look into the code and find the bug.

[2018-02-21 10:16] jhecking commented on #58
The partition maps for all cluster nodes get updated in the [`Cluster#tend`](https://github.com/aerospike/aerospike-client-ruby/blob/master/lib/aerospike/cluster/cluster.rb#L232) method roughly every second (depending on the configured tend interval). During cluster tend, [`Node#refresh`](https://github.com/aerospike/aerospike-client-ruby/blob/master/lib/aerospike/cluster/node.rb#L74) gets called

[2018-02-21 12:40] deenbandhu-agarwal commented on #58
@jhecking
I am using community edition and i am having 10 nodes in the cluster

[2018-02-21 13:20] deenbandhu-agarwal commented on #58
@jhecking I am not able to enable to info level log only once i enable logs it is giving me debug level log also. I don't want to enable debug level log as it will effect my performance. can you please look into this issue ?

[2018-02-21 13:40] jhecking commented on #58
Seems to work for me - how are you setting the log level?

[code]

[2018-03-01 05:12] jhecking commented on #58
Hi @deenbandhu-agarwal, have you had any luck in finding out more about this problem?

[2018-03-15 07:43] deenbandhu-agarwal commented on #58
@jhecking
Hi i got busy in something else.
I was not able to find root cause of the issue but I am thinking to implement the Batch_index protocol but i want to get my changed merged to the version 2.1.1 as we are using that version in our production will you be able to do that ?

[2018-03-15 13:50] jhecking commented on #58
@deenbandhu-agarwal, I am curious: What is stopping you from upgrading to v2.5? Technically, I can see only two potential issues:

1. If you are using an older Ruby version: Support for Ruby v2.0 and v2.1 has since been dropped from the client and support for Ruby v2.2 is likely going to be dropped with the next release.
2. If you are still using LDT - support for this feature has been dropped in

[2018-03-16 04:29] deenbandhu-agarwal commented on #58
Yeah actually reason is I am using Ruby v2.1

[2018-03-16 07:49] jhecking commented on #58
I see. But support for Ruby v2.1 was only dropped in v2.5 of the client. And even that client version should still be fully functional on Ruby v2.1. It's just that we have removed Ruby v2.1 from the CI support matrix. But there were no actual changes in client v2.5 that would break compatibility with this Ruby version. I just tried running the specs on master against Ruby v2.1 and even v2.0 and th

[2018-03-21 07:43] deenbandhu-agarwal commented on #58
@jhecking can you please give me push rights i am not able to push the branch.

[2018-03-21 08:32] jhecking commented on #58
@deenbandhu-agarwal, in order to create a [pull request](https://help.github.com/articles/about-pull-requests/) to merge your changes into this repo, please first [create a fork](https://help.github.com/articles/fork-a-repo/) of this repo, then commit your changes to a new branch on your fork, and then, finally, [create the pull request from your fork](https://help.github.com/articles/creating-a-p

[2018-03-21 09:34] deenbandhu-agarwal commented on #58
@jhecking
I have created pull request https://github.com/aerospike/aerospike-client-ruby/pull/61
please review and merge it

Thanks

[2018-03-29 13:02] wallin opened #64 "Add docs and example of how to use TLS"
- [x] Add section in README describing how to enable TLS
- [ ] Add example code snippet in `examples` folder

[2018-04-02 23:46] jhecking commented on #64
I've already added some info on how to enable TLS here: https://www.aerospike.com/docs/client/ruby/usage/connect/. But feel free to update the docs in the repo as well.

[2018-04-11 06:38] jhecking commented on #58
PR #61 has been merged. I am going to close this issue now.

[2018-04-11 06:38] #58 closed

[2018-04-13 17:37] wallin commented on #64
@jhecking Thanks for adding the examples. I like the `tls` option, it's more clean and accurate.

I'm not sure we need actual code examples since it's pretty clear how to enable it through using the policy. So closing this issue

[2018-04-13 17:37] #64 closed

[2018-05-03 12:13] deenbandhu-agarwal opened #66 "no implicit conversion of nil into Integer error"
Hi
I am getting 'no implicit conversion of nil into Integer' error at /lib/aerospike/command/
command.rb: 562:in `write_header_with_policy' .The above function uses policy.ttl which cannot be nil in any scenario because ttl is by default set to 0 during policy initialization.

[2018-05-04 12:13] deenbandhu-agarwal commented on #66
Hi
I am really sorry. The issue was on our side. We have actually overridden write_policy.rb to do some custom changes and after upgrade we forgot to change that file which caused ttl to be nil as earlier there was no ttl. Apologies for the inconvenience.

[2018-05-04 12:13] #66 closed

[2018-05-04 14:53] deenbandhu-agarwal opened #67 "Aerospike::Exceptions::Connection: Errors"
Hi
I am getting random Aerospike::Exceptions::Connection: end of file reached error at /lib/aerospike/socket/base.rb:  39 . These errors started after upgrading to aerospike 2.7.0 can you tell me what can be the cause of this ?

[2018-05-05 11:09] jhecking commented on #67
Do you have a full stack trace? During what database commands does this error occur? And from what version did you upgrade to v2.7?

[2018-05-07 04:07] jhecking commented on #67
The EOF error occurs after the client has sent the GET request to the server and is waiting to read the response from the socket. It's not clear to me what might be causing this; so far I was not able to reproduce the issue.

Do you see the error only in GET requests or in other database operations as well? And how frequently does it occur? Do you see any errors or warnings in the Aerospike server

[2018-05-07 05:27] deenbandhu-agarwal commented on #67
It is occurring in set also. It is getting reproduced on production only and not all the calls are failing. But we are getting somewhere around .2 - .5 % error rate because of this in production. I didn't check aerospike logs till now. I will check and let you know.

[2018-05-07 05:50] deenbandhu-agarwal commented on #67
Logs are fine i checked

[2018-05-07 07:28] jhecking commented on #67
There have been some changes to the socket handling in v2.6 of the client, in order to add support for TLS encryption. I have reviewed the changes in that version again, and they still look good to me. But to narrow down, whether this is indeed a recently introduced bug, would it be possible for you to temp. downgrade to v2.5(.1) and see if you hit the issue in that version as well?

What would al

[2018-05-07 12:28] wallin commented on #67
Just a note. As far as I can tell, errors like these would have been silently swallowed before the tcp code was rewritten to support TLS. So this might have been a latent issue that was not just surfaced before

[2018-05-08 04:01] jhecking commented on #67
@wallin, what makes you think the pre-2.6 code would have silently swallowed this kind of error? I believe the old `Connection#read` method would have raised an error on EOF as well:

[code]

I think `@socket.recv_nonblock` would return an empty string on EOF, which would raise the `SERVER_NOT_AVAILABLE` exception.

Or am I missing something?

[2018-05-08 07:27] deenbandhu-agarwal commented on #67
@jhecking
The issue is not there in 2.5.1
I did a experiment i continuously called get for a single key and i saw the error coming only few times . So this is not related to some particular key. The issue is not reproduced in v2.5.1

I am using ruby 2.3
aerospike server version 3.9.1

It is difficult to get the tcp dump because it is very uncertain when the issue come.

[2018-05-08 07:34] deenbandhu-agarwal commented on #67
One more observation after i analysed the logs carefully that when i hit a single key continuously the error is coming at a fixed interval of 15 minutes. This might be helpful in debugging the issue

[2018-05-08 11:25] khaf commented on #67
Isn’t this supposed to be taken care of by automatic retries?

[2018-05-08 11:36] jhecking commented on #67
The Ruby client does not retry the command if the error happens in `parse_result`. Not sure if this differs from how other clients handle retries?

[2018-05-08 11:41] khaf commented on #67
That depends on the type of command if it is idempotent to retry, but then why does the connection go bad on that point anyway?

[2018-05-08 11:50] jhecking commented on #67
No, it does not depend on whether the command is idempotent. If you look at [`Command#execute`](https://github.com/aerospike/aerospike-client-ruby/blob/b0154073d884abcb48772c6aeb88c179435c867a/lib/aerospike/command/command.rb#L339), it only retries the command if the error happened while writing the command, not if it happened while parsing the result.

While testing, I noticed that if I first wri

[2018-05-08 11:57] khaf commented on #67
I meant on the other clients we check if they are one shot or not.

We should do the same in this case too, after we find out what the underlying reason for the connection drop is.

Maybe it’s deadline related?

[2018-05-08 12:09] deenbandhu-agarwal commented on #67
@jhecking  yes i will be able to test it

[2018-05-11 04:06] jhecking commented on #67
@deenbandhu-agarwal, I have implemented an experimental connection check feature in the [`check-conn-alive`](https://github.com/aerospike/aerospike-client-ruby/tree/check-conn-alive) branch. It performs a check on all connections retrieved from the connection pool to see if they are alive, and discards connections that are not. The `alive?` check is based on the [`Net::TCPClient`](https://github.c

[2018-05-11 14:02] deenbandhu-agarwal commented on #67
@jhecking  I have checked the build on my production servers. There are no connection errors in this build. Please make the required changes for the optimisation. Thanks a lot for helping me out to resolve this issue.

[2018-05-15 08:38] deenbandhu-agarwal commented on #67
@jhecking any updates on this ?

[2018-05-15 08:39] jhecking commented on #67
Sorry, not yet. I don't have a lot of time to work on the Ruby client at the moment, since I'm busy with another project.

[2018-05-18 08:11] deenbandhu-agarwal commented on #67
@jhecking had you planned to work on this or it is still not in plan ?

[2018-05-18 08:27] jhecking commented on #67
As I already stated, I haven't had a lot of time to work on this.

I have done a bit more research to find out if there is a way to detect the bad connection on the socket write, but seems there isn't. E.g. ref. https://stackoverflow.com/questions/2530652/ruby-tcpsocket-doesnt-notice-it-when-server-is-killed.

I also did some benchmarking, esp. comparing v2.5.1, v2.6.0 and my dev branch. I noticed

[2018-05-31 06:19] deenbandhu-agarwal commented on #67
@jhecking
Hi, its been a long do you have any update we are not able to upgrade our ruby client because of this issue. May i help in any sense ?

[2018-06-05 09:21] deenbandhu-agarwal commented on #67
@jhecking
Can you tell me how to run the benchmarking probably I can look into the issue?

[2018-06-06 00:44] jhecking commented on #67
Hi @deenbandhu-agarwal,

You can find the benchmark suite for the client here:

https://github.com/aerospike/aerospike-client-ruby/tree/master/tools/benchmark

There are instructions for how to run the benchmark in it's readme.

[2018-07-23 10:50] pandurang90 opened #68 "Read timeout doesn't work"
[code]

Here read timeout doesn't work as specified in policy object.
Not sure but is it happening because on this line https://github.com/aerospike/aerospike-client-ruby/blob/master/lib/aerospike/client.rb#L276 every time it creates new `Policy` object?

[2018-07-23 11:10] pandurang90 commented on #68
Closing this. Solved issue.

[2018-07-23 11:10] #68 closed

[2018-07-26 17:24] pandurang90 commented on #67
Even I am facing the same issue. Any progress on this?

[2018-08-01 06:29] islue commented on #67
[code]
Is the behavior tunable? I can't find the document.

[2018-08-01 06:59] jhecking commented on #67
Yes, this can be configured via the [`proto-fd-idle-ms`](https://www.aerospike.com/docs/reference/configuration/index.html#proto-fd-idle-ms) config setting.

[2018-08-01 07:37] pandurang90 commented on #67
@jhecking your changes in branch `check-conn-alive` looks good to me as per my requirements regarding performance. Could you also add tests for that?

[2018-08-02 09:36] #67 closed

[2018-08-06 07:34] jhecking commented on #67
@deenbandhu-agarwal, v2.8.0 of the client is now available on [rubygems.org](https://rubygems.org/gems/aerospike). Please give it a try. And sorry it took so long to resolve this issue.

[2018-09-17 04:08] jhecking opened #73 "Change default for send_key write policy setting to false"
All other Aerospike clients default to _not_ sending the user key to the Aerospike server, and only send the digest instead. This leads to inconsistent client behaviour. For example, for namespaces with single-bin configuration with data-in-index, trying to write a record with `send_key` set to `true` (the default) leads to an "unsupported server feature" error: https://stackoverflow.com/a/5230604

[2018-09-17 04:17] jhecking opened #74 "Default policies set on Client instance do not get applied"
Setting a default policy on a Client instance, e.g. `Client#default_write_policy`, `Client#default_read_policy`, etc., is broken since v2.0. The client specific default policies are ignored: The client either uses the policy passed into a specific request or uses a new `WritePolicy`, `ReadPolicy`, etc. instance with the default values specified in the respective policy class.

[2018-11-05 03:13] #74 closed

[2018-11-05 03:17] #73 closed

[2018-11-05 04:16] jhecking opened #76 "Servers >= 4.3.1.4 require "lut" argument for truncate command"
To avoid accidental truncations of entire namespaces, servers after v4.3.1.4 will require a "lut" argument for the "truncate" info command. In earlier server versions, this argument was optional. If the application does not specify a last-update-timestamp (lut), then the client needs to send "lut=now".

Ref. AER-5955

[2019-03-29 06:32] jhecking opened #77 "Query fails if one or more cluster nodes do not have records in the set"
If one or more nodes in the cluster do not have the set on which the query executes, those nodes will return an error with status code 2 ("record not found"). The client will then abort the query and throw a KEY_NOT_FOUND error. The client should ignore this status code and instead return the results from the remaining cluster nodes.

Ref. https://discuss.aerospike.com/t/key-not-found/6079/3
Ref.

[2019-04-02 03:42] lijeeshsd commented on #12
Still not implemented? It has been 3 years :( I really need this :(

[2019-04-02 04:55] #77 closed

[2019-04-02 11:10] dorijan opened #78 "Predicate Filtering"
Hi,
since ruby client does not support AGGREGATE query, and, it seems it will not in some time, it is necessary to implement Predicate Filtering so you could filter with more than one index
https://www.aerospike.com/docs/guide/predicate.html

Thank you
Dorijan

[2019-04-02 11:38] jhecking commented on #78
If you are blocked by this, would you be willing to consider taking a stab at implementing predicate filtering support and submitting a pull request? I could give you some pointers to get you started.

[2019-04-02 12:33] lijeeshsd commented on #78
Yes, I really need this, so I am interested.

[2019-04-02 12:46] jhecking commented on #78
The Aerospike Ruby client is largely modeled after the Java client, so that would be the best reference: https://github.com/aerospike/aerospike-client-java/commit/b6355f5cb59626d422e0e36f9d622b097fe08e7d

[2019-04-02 20:01] dorijan commented on #78
I am trying to understand, does Predicate expression filter uses same query method but predex is defined before execution? I mean this one
_https://github.com/aerospike/aerospike-client-ruby/blob/master/lib/aerospike/query/query_command.rb_

Or do we need to implement something like where and then predex filter would go as argument?

[2019-04-03 02:46] jhecking commented on #78
The interface for using predicate expressions would look something like this:

[code]

This example executes a query that uses the secondary index on "bin1" to find all records where "bin1" equals "foo". It then further narrows down the results to only return records that match the predicate expression "(bin2 == 'bar') && (bin3 > 42)". You use the same `Client#query` method to execute the query.

[2019-04-08 04:18] jhecking opened #79 "Client#execute_udf_on_query should not modify the statement argument"
The `Client#execute_udf_on_query` command modifies the query statement argument that's passed into the function to set up the UDF function:

[code]

It's bad practice for a method to modify the passed in method arguments. (Unless that's the purpose of the method.) If the statement needs to be modified, then the method should clone it first and only modify the copy.

Ref. https://discuss.aerospike.

[2019-04-17 10:45] filiptepper opened #80 "Add support for LB discovery / seeding"
Hi, I was working with my Aerospike setup and I was wondering if you plan on adding support for LB discovery / seeding (as described here: https://discuss.aerospike.com/t/considerations-on-aerospike-client-seeding-with-aws-route53-dns-and-elb-load-balancer/5199).

If not, would you be accepting a proper PR for this?

[2019-04-17 10:55] jhecking commented on #80
Would definitely consider a PR for this!

As the Ruby client is largely modelled after the Java client, you can find a reference for this implementation in [these 3 commits](https://github.com/aerospike/aerospike-client-java/search?q=load+balancer&type=Commits).

[2019-04-17 10:57] filiptepper commented on #80
Thanks! Will have a look and come back with some code.

[2019-04-17 13:00] filiptepper commented on #80
@jhecking Here's a dirty POC that appears to be working. https://gist.github.com/filiptepper/dcc4744ca258e8ca59d0b0b1e550d6e3 Are there any other cases that need to be figured out before I submit a PR?

[2019-04-17 14:39] jhecking commented on #80
Thanks, will take a look tomorrow.

[2019-04-18 03:52] jhecking commented on #80
Something's not right: You iterate over all the resolved addresses and call `get_host()` with each address:

[code]

But in `get_host()` you don't actually establish a connection to that address and instead always establish a new connection to the same original `@host` address:

[code]

Also, please note that the result of the `service-clear-std`/`service-tls-std` info command can contain a list o

[2019-04-18 07:54] filiptepper commented on #80
Thanks! Here's the WIP after your feedback.

https://github.com/aerospike/aerospike-client-ruby/pull/82

It's still pretty bare-bones, but I want to get things right before some rewrites and adding specs.

[2019-05-10 03:08] jhecking commented on #80
Closing this as #82 was merged. Thanks again, @filiptepper!

[2019-05-10 03:08] #80 closed

[2019-05-10 03:18] jhecking commented on #80
[aerospike@2.10.0](https://rubygems.org/gems/aerospike/versions/2.10.0) is now available on RubyGems.org.

[2019-05-14 06:56] #78 closed

[2019-05-15 03:00] apurvamayank opened #84 "Encoding error (undefined conversion error) while reading digests."
When I try to get the bins of a set which contains an array of digest of another set, it throws me an encoding error. Following is an example:

[code]
The last line in the above code snippet throws **Encoding::UndefinedConversionError ("\x9E" from ASCII-8BIT to UTF-8)** error.

**force_encoding** in **normalize_elem** method in **unpacker.rb** seems one solution to it. I am trying to find if there

[2019-05-15 03:53] jhecking commented on #84
@apurvamayank, thanks for reporting this issue. In the Ruby client, binary data and strings are both  Ruby strings. But binary data uses ASCII-8BIT encoding and we should not try to change the encoding of such binary strings. Please help to check if the fix in #85 solves your problem.

[2019-05-17 02:49] #84 closed

[2019-05-17 03:03] #79 closed

[2019-06-05 09:30] madejejej opened #86 "Rack awareness"
Hi!

We noticed that the Ruby client doesn't implement rack awareness. We'd love to use that feature, so my question would be - is this something down in your pipeline?

If not, would you consider accepting a PR for it?

[2019-06-05 15:55] jhecking commented on #86
A PR would be very welcome!

[2019-06-07 10:29] madejejej commented on #86
Hey @jhecking, I noticed the Ruby client doesn't support `Policy.replica` (https://www.aerospike.com/docs/guide/policies.html#replica) which is a prerequisite for rack awareness. Is this something you'll be adding in the near future?

I don't think I'll have enough time to tackle both `Policy.replica` and rack awareness as these two changes together are quite extensive.

[2019-06-10 06:57] jhecking commented on #86
No, I wasn't planning on adding support for the `replica` policy any time soon. But I'll take a look at it to get a better sense of the effort required myself. Note that I'm on leave next week, so this would likely be something I could get to the week after at the earliest.

I assume you are not using [Strong Consistency (SC) mode](https://www.aerospike.com/docs/architecture/consistency.html), rig

[2019-06-10 10:16] madejejej commented on #86
We're not using the SC mode. Rack awareness was suggested to us by one of Aerospike's customer support people as an AWS best practice. It'd be a nice to have feature for us.

[2019-06-11 09:07] jhecking commented on #86
Started some [initial work](https://github.com/aerospike/aerospike-client-ruby/tree/f-replicas-all) on supporting the `replicas-all` info command during the tend process, which is required to support the `replica` policy. Do expect the progress to be slow, though, since I only have few hours a week to spare on this project. And as I mentioned I will be out next week.

[2019-06-11 10:09] madejejej commented on #86
I understand that, thanks for all the support @jhecking!

[2019-06-27 11:59] deenbandhu-agarwal opened #88 "How to handle a down node in high Throughput"
Hello,

I want to handle scenarios gracefully(without any error) when a node is going down because of some issue or we are restarting a node manually. I tried retry but it is not helping can somebody help me this?

[2019-07-01 12:47] deenbandhu-agarwal commented on #88
Any update on this ?

[2019-11-20 09:19] deenbandhu-agarwal commented on #88
Hi @jhecking

Any response to this. Its been a long time now.

[2020-01-09 11:26] madejejej opened #93 "Performance issues when serializing nested structures"
It seems that the client library is doing too much work when serializing nested structures. Please take a look at the benchmark.

[code]

[code]

This gives a mean of:
- 6.36ms for list value with a hash
- 2.71ms for list value with one less hash nesting
- 1.2ms for serializing the hash only

The benchmarks suggest some kind of recursion issue. It seems like when we initialize MapValue and ListVal

[2020-03-24 04:22] jhecking commented on #93
This was resolved in #94.

[2020-03-24 04:22] #93 closed

[2020-03-24 04:23] jhecking opened #95 "Accept batch read response without key digest"
The current batch read response protocol sends back the digest for every record. This information was used to verify that the batch index (also sent back for every record) pointed to the correct key entry. Because the digest is not strictly necessary, we plan to eventually remove it from the batch response protocol.

E.g. Java client change (CLIENT-1119): aerospike/aerospike-client-java@27a855a

[2020-08-06 10:12] madejejej opened #97 "ResultCode 151 unknown in the client. Please file a github issue"
We are getting this error for some of our requests. It says in [the error codes reference](https://www.aerospike.com/docs/dev_reference/error_codes.html) that this error means that the batch max requests has been exceeded. Could the client handle this by sending multiple requests in parallel, each with a proper batch size?

[2020-08-06 11:37] khaf commented on #97
No not currently. We may consider it for a future feature, but it's not a priority at this very moment.

[2020-08-19 14:30] khaf commented on #86
This has been released in the latest Ruby client a few weeks ago. I'll close this ticket, but feel free to open new tickets or reopen the issue.

[2020-08-19 14:30] #86 closed

[2020-11-04 06:26] akatakun opened #101 "NoMethodError: undefined method `decrease_health' for nil:NilClass"
I am using gem version '2.14.0'
I am getting following error
[code]

If `#get_node` fails, I think `@node` will be `nil`

[2020-11-05 12:52] khaf commented on #101
Thanks for your report, the fix is coming in the next minor version soon.

[2020-11-18 08:54] selivandex commented on #101
I'm using version 2.17 and have the same issue

[2020-12-01 17:51] khaf commented on #88
Hi @deenbandhu-agarwal, did you manage to work around this issue? In most circumstances the client should not raise any exceptions. Can you provide a gist so that we can better understand your use case?

[2020-12-01 18:39] khaf commented on #101
Fixed in v2.18.0.

[2020-12-01 18:39] #101 closed

[2020-12-01 18:39] #97 closed

[2021-01-25 15:13] mubashirkamran4 commented on #88
Hi @khaf I am still getting the same error on `batch_get` method of `client` object. I get it very frequently. This is how I am using it.
`client = Client.new(config['servers'], policy: { timeout: 0.1 })
      batch = {}
      client.batch_get(
        keys,
        [],
        timeout: timeout,
        max_retries: 5,
        sleep_between_retries: 0.5,
        replica: Replica::SEQUENCE
      ).

[2021-01-27 08:08] ioquatix opened #103 "Prefer `Thread.join(timeout)`."
https://github.com/aerospike/aerospike-client-ruby/blob/8488c41607dc4738978827bc3f491d85dfcca200/lib/aerospike/cluster.rb#L433-L454

[2021-01-27 08:09] ioquatix commented on #103
Also this code does not look particularly thread safe.

[2021-01-27 13:54] khaf commented on #103
Thanks for your feedback. We invite and encourage PRs.

[2021-02-02 16:24] MarcPer commented on #103
I've opened a PR to address this issue.

[2021-02-02 16:47] khaf commented on #103
Thank you, I have already merged it; will release a new version before the weekend.

[2021-02-08 15:57] mensfeld commented on #103
@khaf ping ^^

[2021-02-10 16:21] khaf commented on #103
Released yesterday. I'm going to go ahead and close this ticket. Feel free to reopen, or issue new ones.

[2021-02-10 16:21] #103 closed

[2021-02-10 16:28] mensfeld commented on #103
@khaf :pray: @madejejej can we bump it, please?

[2021-02-10 16:30] khaf commented on #103
Now that I have your attention, does anyone use Crystal? Any feedback, opinions?

[2021-02-10 23:49] ioquatix commented on #103
Most of the things that Crystal does in syntax (in terms of static typing) can be done at runtime by a sufficiently good JIT compiler. Node.js already showed that you can get close to the performance of C with runtime instrumentation and feedback into the JIT, and in some cases it appears you would be able to do better than C if your runtime analysis reveals insights that can't be known at compile

[2021-02-11 01:24] khaf commented on #103
Thanks @ioquatix . But such runtime does not exist for Ruby and last I checked, even JRuby was not a drop-in replacement for CRuby (and the GIL is still there). It's surprising to me that the Rubyists are not interested in Crystal. It's almost a dream come true.

[2021-02-11 06:26] ioquatix commented on #103
TruffleRuby is pretty close.

[2021-02-14 10:46] MarcPer commented on #103
Indeed a great talk. Thanks for sharing.

[2021-09-18 17:26] Terfender opened #109 "Writing BoolValue"
Hello there,

I cannot write a TrueClass or FalseClass bin. I found that BoolValue raises an exception when writing.

[code]

May I know why? And what's the walk around in order to write a boolean? The DB is accessed by other services, so I would like to keep data type consistency.

Thanks

[2022-08-23 05:57] aditya109 opened #113 "transitive dependency breaks execution."
Facing an issue while running the following code:
[code]
Gemfile
[code]
Gemfile.lock:
[code]
Getting the following error:
[code]

[2022-09-21 07:38] khaf commented on #113
Sorry your message flew under my radar. Are you using jruby?

[2022-10-02 17:18] aditya109 commented on #113
@khaf yea, no worries... raised this issue to `msgpack`. They immediately fixed it.
TFR https://github.com/msgpack/msgpack-ruby/issues/295

[2022-10-02 17:18] #113 closed